#cs1300-gallery {
  background-color: rgb(186, 138, 80);

}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
}

